Repository Ekumen-OS/beluga, pull requests merged in 2024-03, with the labels that each got.

#331 Remove (unused) cluster customization point object
  beluga/include/beluga/primitives.hpp
  beluga/include/beluga/views/particles.hpp
  beluga/test/beluga/test_primitives.cpp
Labels: enhancement, cpp

#323 Add death tests and build in debug mode
  beluga/include/beluga/algorithm/thrun_recovery_probability_estimator.hpp
  beluga/include/beluga/random/multivariate_uniform_distribution.hpp
  beluga/include/beluga/views/sample.hpp
  beluga/include/beluga/views/zip.hpp
  beluga/test/beluga/algorithm/test_thrun_recovery_probability_estimator.cpp
  beluga/test/beluga/sensor/data/test_linear_grid.cpp
  beluga/test/beluga/views/test_sample.cpp
  beluga_amcl/include/beluga_amcl/amcl_nodelet.hpp
  beluga_amcl/src/amcl_nodelet.cpp
  beluga_amcl/test/test_amcl_node.cpp
  beluga_amcl/test/test_amcl_nodelet.cpp
  tools/build-and-test.sh
Labels: cpp, infra

#333 Turn beluga_ros into a Python package
  beluga_ros/cmake/ament.cmake
  beluga_ros/setup.cfg
  beluga_ros/src/beluga_ros/__init__.py
  beluga_ros/src/beluga_ros/conversion_utils.py
  beluga_ros/src/beluga_ros/occupancy_grid_to_ndt.py
Labels: enhancement, ros, python

#332 Instrument ROS occupancy grid to NDT map conversion
  .gitignore
  beluga_ros/cmake/ament.cmake
  beluga_ros/package.xml
  beluga_ros/setup.cfg
  beluga_ros/src/beluga_ros/__init__.py
  beluga_ros/src/beluga_ros/conversion_utils.py
  beluga_ros/src/beluga_ros/occupancy_grid_to_ndt.py
Labels: ros, python

#334 Make dev container run in detached mode
  docker/run.sh
Labels: enhancement, infra

#336 Add sparse value grid implementation
  beluga/include/beluga/sensor/data/sparse_value_grid.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/sensor/data/test_sparse_value_grid.cpp
Labels: enhancement, cpp
