Repository Ekumen-OS/beluga, pull requests merged in 2024-07, with the labels that each got.

#365 Add documentation for the MCL tutorial
  docs/_images/beluga_tutorial.gif
  docs/tutorials/particle-filtering.md
Labels: documentation

#275 Add cluster based estimator
  beluga/include/beluga/algorithm.hpp
  beluga/include/beluga/algorithm/cluster_based_estimation.hpp
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/algorithm/test_cluster_based_estimation.cpp
Labels: enhancement, cpp

#410 Add `beluga_tools` package
  .codecov.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/weekly_pipeline.yml
  beluga_ros/cmake/ament.cmake
  beluga_ros/package.xml
  beluga_ros/setup.cfg
  beluga_tools/beluga_tools/__init__.py
  beluga_tools/beluga_tools/conversion_utils.py
  beluga_tools/beluga_tools/occupancy_grid_to_ndt.py
  beluga_tools/beluga_tools/ply_to_ndt.py
  beluga_tools/package.xml
  beluga_tools/resource/beluga_tools
  beluga_tools/setup.cfg
  beluga_tools/setup.py
  docker/images/humble/Dockerfile
  docker/images/iron/Dockerfile
  docker/images/jazzy/Dockerfile
  docker/images/rolling/Dockerfile
  tools/build-and-test.sh
Labels: ros, meta

#414 Remove 'with' statement in CI workflow
  .github/workflows/ci_pipeline.yml
Labels: bug, infra

#416 Extend `beluga::estimate` for SE3
  beluga/include/beluga/algorithm/estimation.hpp
  beluga/test/beluga/algorithm/test_estimation.cpp
Labels: enhancement, cpp
