Repository Ekumen-OS/beluga, pull requests merged in 2024-06, with the labels that each got.

#387 Add scripts for beluga_tutorial visualizations
  beluga_tutorial/package.xml
  beluga_tutorial/scripts/visualize.py
Labels: python

#396 Expand grid concepts to n dimensions
  beluga/include/beluga/eigen_compatibility.hpp
  beluga/include/beluga/sensor/data/dense_grid.hpp
  beluga/include/beluga/sensor/data/linear_grid.hpp
  beluga/include/beluga/sensor/data/occupancy_grid.hpp
  beluga/include/beluga/sensor/data/regular_grid.hpp
  beluga/include/beluga/sensor/data/sparse_value_grid.hpp
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/sensor/data/test_dense_grid.cpp
  beluga/test/beluga/sensor/data/test_regular_grid.cpp
  beluga/test/beluga/sensor/data/test_sparse_value_grid.cpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
Labels: enhancement, cpp

#400 Add 3D NDT sensor model and tests.
  beluga/include/beluga/sensor/data/ndt_cell.hpp
  beluga/include/beluga/sensor/ndt_sensor_model.hpp
  beluga/test/beluga/sensor/test_ndt_model.cpp
Labels: enhancement, cpp

#391 Use `no-gnu-zero-variadic-macro-arguments` only with `clang-tidy`
  beluga/CMakeLists.txt
  beluga/test/beluga/sensor/test_bearing_sensor_model.cpp
  beluga/test/beluga/sensor/test_landmark_sensor_model.cpp
  tools/run-clang-tidy.sh
Labels: bug, infra

#403 Add SO3 and SE3 support for multivariate normal distribution
  beluga/include/beluga/random/multivariate_distribution_traits.hpp
  beluga/test/beluga/random/test_multivariate_normal_distribution.cpp
Labels: enhancement, cpp

#404 Add planar 3D support for `DifferentialDriveModel`
  beluga/include/beluga/3d_embedding.hpp
  beluga/include/beluga/motion/differential_drive_model.hpp
  beluga/include/beluga/motion/stationary_model.hpp
  beluga/test/beluga/CMakeLists.txt
  beluga/test/beluga/motion/test_differential_drive_model.cpp
  beluga/test/beluga/test_3d_embedding.cpp
  beluga_amcl/include/beluga_amcl/ndt_amcl_node.hpp
  beluga_ros/include/beluga_ros/amcl.hpp
  beluga_system_tests/test/test_system.cpp
Labels: enhancement, cpp
